.welcome {
    margin-top: 3vh;
    display: grid;
    grid: 'left' 'right';
}

.welcome-left {
    grid-area: left;
    justify-self: center;
}

.welcome-right {
    margin-top: 3vh;
    grid-area: right;
    justify-self: end;
    text-align: center;
}

.welcome-img {
    width: 70%;
}

.welcome-button {
    background-color: #030adc;
    color: white !important;
    font-weight: bold;
    font-size: 2vh;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    padding: 15px;
}

.welcome-button:hover {
    background-color: white;
    color: #030adc !important;
    border: 3px solid #030adc;
    border-radius: 3px;
}

.welcome a {
    color: #030adc;

}

.form_search input.ng-invalid {
    border: none !important;
}

.form_search input {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.no-border-radius {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.form_search button {
    padding: 10px;
    margin-left: -75px;
    border: none;
    background-color: rgb(241, 241, 241);
    border-left: none;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.form_search button:hover {
    background-color: rgb(228, 228, 228);
}

.search-results {
    display: block;
    position: absolute;
    width: 400px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(186, 186, 186);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-item {
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.search-item:hover {
    background-color: #cec !important;
}

.stats {
    margin-top: 5vh;
    display: grid;
    grid: 'stats-left stats-middle stats-right' / 1fr 1fr 1fr;
    background-color: hsl(50, 50%, 94%);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.05), 0 6px 21px 0 rgba(0, 0, 0, 0.05);
}

.stats-left {
    grid-area: stats-left;
    justify-self: center;
}

.stats-middle {
    grid-area: stats-middle;
    border-left: 1px solid hsl(51, 29%, 81%);
    border-right: 1px solid hsl(51, 29%, 81%);
    justify-self: center;
}

.stats-right {
    grid-area: stats-right;
    justify-self: center;
}

.stats-box:hover {
    cursor: pointer;
}

.stats-left:hover {
    background-color: white;
}

.stats-middle:hover {
    background-color: white;
}

.stats-right:hover {
    background-color: white;
}

.stats-box {
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
}

.stats-text-count {
    display: block;
    font-size: 9vh;
    color: hsl(49, 36%, 12%);
}

.stats-text-type {
    font-size: 1.5vh;
    color: white;
    background-color: lightcoral;
    padding: 5px;
    border-radius: 5px;
}

.stats-text-descr {
    font-size: 1.5vh;
    color: hsl(49, 22%, 25%);

}

.main {
    grid-area: main;
}

.FAQ {
    padding: 10px;
}

@media (min-width:1024px) {

    .welcome {
        margin-top: 1vh;
        grid: 'left right' / 400px auto;
        width: 1024px;
    }

    .welcome-left {
        margin-top: 5vh;
        justify-self: left;
    }

    .welcome-right {
        text-align: right;
    }

}