.confirm-modal-background {
    display: block;
    position: fixed;
    top: 0;
    z-index: 999999999;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.6);
}

.confirm-modal {
    position: fixed;
    margin-left: 3vw;
    top: 30%;
    width: 450px;
    height: 300px;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #ffffff;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.confirm-button {
    padding: 15px;
    cursor: pointer;
    background-color: red;
    color: white;
    justify-self: center;
    font-weight: bold;
    width: 180px;
    height: 45px;
    border-radius: 5px;
}

.confirm-close-button {
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: red;
}

.confirm-top-bar {
    position: absolute;
    background-color: rgb(73, 73, 73);
    width: 449px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 60px;
    top: 0px;
    text-align: left;
}

.confirm-top-bar-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.actions-container {
    display: grid;
    grid: 'ac-right' 'ac-left';
    justify-content: center;
}

.ac-left {
    grid-area: ac-left;
}

.ac-right {
    grid-area: ac-right;
    align-self: center;
    font-size: 4vh;
    font-weight: bold;
    color: grey;
}

.ac-right span {
    font-size: 4vh;
    color: grey;
}

.analytics-dashboard-selector {
    display: grid;
    justify-content: end;
}

.analytics-dashboard-container {
    margin-top: 3vh;
    grid-area: ad-container;
    display: grid;
    gap: 15px;
    grid: 'ad-left' 235px 'ad-right';
}

.ad-left {
    grid-area: ad-left;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}


.ad-right {
    grid-area: ad-right;
    border: 1px solid black;
    border-radius: 5px;
}

.graph-container {
    display: grid;
    grid: 't1 t2 t3 t4' 30px 'c1 c2 c3 c4' 180px / 1fr 1fr 1fr 1fr;
    background-color: white;
    background-image: linear-gradient(#f0f0f0 1px, transparent 1px), linear-gradient(to right, #f0f0f0 1px, #fff 1px);
    background-size: 10px 10px;
    align-items: end;
    max-height: 200px;
    gap: 5px;
    font-weight: bold;
    color: rgb(94, 94, 94);
    text-align: center;
    cursor: pointer;
}

.gc-c1 {
    grid-area: c1;
    align-self: end;
    height: 5%;
    background-color: #d0ffe5;
    border-top: 2px solid rgb(112, 172, 112);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gc-c2 {
    grid-area: c2;
    align-self: end;
    background-color: #ffd0d0;
    border-top: 2px solid #ac7070;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 5%;
}

.gc-c3 {
    grid-area: c3;
    align-self: end;
    background-color: #d0d9ff;
    border-top: 2px solid #7085ac;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 5%;
}

.gc-c4 {
    grid-area: c4;
    align-self: end;
    background-color: #dddddd;
    border-top: 2px solid #b2b2b2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 5%;
}

.tooltip-text-account {
    display: none;
}

.gc-c1:hover .tooltip-text-account,
.gc-c2:hover .tooltip-text-account,
.gc-c3:hover .tooltip-text-account,
.gc-c4:hover .tooltip-text-account {
    display: block;
    position: absolute;
    background-color: black;
    color: white;
    z-index: 999999;
    padding: 8px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 10px;
}

.gc-t1 {
    grid-area: t1;
    height: 100%;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
}

.gc-t2 {
    grid-area: t2;
    height: 100%;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
}

.gc-t3 {
    grid-area: t3;
    height: 100%;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
}

.gc-t4 {
    grid-area: t4;
    height: 100%;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
}

.ad-results {
    height: 185px;
    max-height: 200px;
    background-color: white;
    overflow-y: auto;
    scrollbar-width: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.success-count {
    display: inline-block;
    width: 42px;
    font-size: 12px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: green;
    text-align: center;
    padding: 3px;
}

.missed-count {
    display: inline-block;
    width: 42px;
    font-size: 12px;
    margin-left: 7px;
    height: 25px;
    color: red;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
}

.form_edit {
    margin-top: 35px;
}

.form_edit input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    width: 300px;
}

.form_edit button {
    margin-top: 10px;
    width: 300px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: blue;
}


.form_analytics_dashboard {
    grid-area: top-right;
}

.form_analytics_dashboard select.ng-valid {
    border-left: none !important;
    border: 1px solid black !important;
}

.form_analytics_dashboard select.ng-invalid.ng-touched {
    border-left: none !important;
    border: 1px solid black !important;
}

.form_analytics_dashboard select,
button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.form_analytics_dashboard button {
    margin-left: 10px;
    width: 75px;
    background-color: purple;
    color: white;
    font-weight: bold;
}

.add-card-container {
    display: grid;
    grid: 'input input'
        'input input'
        'select radio'
        'submit submit';
    width: 325px;
}

.add-card-inputs {
    grid-area: input;
    justify-self: center;
}

.add-card-select {
    grid-area: select;
    justify-self: start;
}

.add-card-radio {
    grid-area: radio;
    justify-self: start;
    margin-top: 1vh;
}

.add-card-button {
    grid-area: submit;
    justify-self: center;
}


.form_addcard {
    margin-top: 2vh;
}

.form_addcard input {
    margin-top: 1vh;
    padding: 15px;
    width: 325px;
    border-radius: 5px;
    border: 1px solid black;
}

.form_addcard select {
    padding: 15px;
    width: 225px;
    border-radius: 5px;
    margin-top: 1vh;
}

.form_addcard button {
    margin-top: 1vh;
    padding: 15px;
    width: 325px;
    display: block;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #318811;
}

.input-radio {
    width: 20px !important;
    display: inline-block;
}

.add-card-radio label,
.add-card-radio span {
    font-size: 1.2vh;
}

.account {
    display: grid;
    margin-top: 3vh;
    grid: 'cards' 'collections' 'migrations';
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.account-top-menu {
    margin-top: 3vh;
    display: grid;
    grid: 'left-menu' 'right-menu';
    justify-content: center;
    text-align: center;
}

.delete-button {
    width: 5vw;
    background-color: rgb(255, 16, 56);
    color: white;
    font-weight: bold;
    font-size: 1.5vh;
    padding: 10px;
    text-decoration: none;
}

.menu-left {
    grid-area: left-menu;
}

.menu-right {
    grid-area: right-menu;
    cursor: pointer;
}

.switchSide {
    background-color: #464646;
    font-size: 1vh;
    margin-left: 1vw;
    border: none;
    color: white;
    float: right;
    padding: 5px;
}

.menu-right a,
.menu-left a {
    grid-area: right-menu;
    display: block;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    max-width: 200px;
    margin-top: 0.5vh;
}

.menu-left a {
    background-color: white;
    color: black;
    border: 1px solid grey;
}

.item-wrapper {
    display: grid;
    grid: 'name actions' / 80% 20%;
    border-bottom: 1px solid #cecece;
    background-color: #fdfdfd;
    height: 5vh;
    padding: 5px;
}

.item-wrapper a,
span {
    text-decoration: none;
    color: black;
    font-size: 1.5vh;
}

.item-wrapper:hover {
    background-color: #fff2f4;
    cursor: pointer;
}

.account-dropbutton {
    background-color: inherit;
    border: none;
}

.account-dropdown {
    position: relative;
}

.account-dropdown-content {
    display: none;
    position: absolute;
    z-index: 99999;
    right: -5px;
    top: -10px;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 5px 9px 15px 1px rgba(0, 0, 0, 0.1);
}

.account-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.account-dropdown-content a:hover {
    background-color: #cfffc7;
}

.account-dropdown:hover .account-dropdown-content {
    display: block;
}

.account-dropdown:hover .account-dropbutton {
    background-color: #fff2f4;
}

.all {
    height: 30vh;
    overflow-y: auto;
    scrollbar-width: none;
    text-align: left;
}

.account-all-cards {
    grid-area: cards;
}

.account-all-title {
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.account-all-collections {
    grid-area: collections;
}

.account-all-migrations {
    grid-area: migrations;
}

.item-name {
    grid-area: name;
    align-self: center;
}

.item-actions {
    grid-area: actions;
    justify-self: end;
    align-self: center;
}

/* Migrations */

.migration-step-2 {
    padding: 15px;
    width: 100%;
    background-color: pink;
    border: 1px solid black;
    border-radius: 5px;
}

.migration-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 1px;
    cursor: pointer;
    border: none;
}

.migration-results {
    margin-top: 3vh;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
}

.migration-results-title {
    display: grid;
    grid: 'item1 item2 item3' / 2fr 3fr 1fr;
    align-items: center;
}

.migration-wrapper {
    display: grid;
    grid: 'item1 item2 item3' / 8fr 3fr 1fr;
    padding: 10px;
    background-color: #cec;
    border-bottom: 1px solid grey;

}

.extra {
    text-align: center;
}

.m-item-1 {
    grid-area: item1;
}


.m-item-2 {
    grid-area: item2;
}

.m-item-3 {
    grid-area: item3;
    align-self: top;
}

@media (min-width:1024px) {
    .account-top-menu {
        margin-top: 3vh;
        grid: 'left-menu right-menu' / 1fr 3fr;
        justify-content: space-around;
        text-align: center;
    }

    .menu-right {
        justify-self: end;
    }

    .menu-right a {
        display: inline-block;
        width: 20vw;
    }

    .actions-container {
        grid: 'ac-left ac-right';
        justify-content: stretch;
    }

    /*  */

    .migration-step-2 {
        width: 85%;
    }

    .migration-results-title {
        grid: 'item1 item2 item3' / 8fr 3fr 1fr;
    }


    .analytics-dashboard-container {
        grid: 'ad-left ad-right' / 2fr 3fr;
    }

    .confirm-modal {
        left: 35%;
    }
}