<div class="account-top-menu">
  <div class="menu-left">
    <a routerLink="#">ACCOUNT MANAGEMENT</a>
  </div>
  <div class="menu-right">
    <a routerLink="#" (click)="toggleVisibility('addcard')">ADD CARD</a>
    <a routerLink="#" (click)="toggleVisibility('addcollection')">ADD COLLECTION</a>
    <a routerLink="/migration">MIGRATE</a>
  </div>
</div>

<div class="actions-container">

  <div class="ac-left">

    <!-- Add collection form -->

    <form #form_add_collection="ngForm" class="form_addcard" (ngSubmit)="onSubmitInsert('form_add_collection')"
      *ngIf="isVisibleAddCollection">
      <label for="collection_name"></label>
      <input type="text" placeholder="Enter a collection name here..." id="collection_name" name="collection_name"
        required minlength="3" ngModel>

      <button type="submit" id="submit_form_collection" [disabled]="!form_add_collection.valid">Submit</button>
    </form>


    <!-- Add card form -->

    <form #form_add_card="ngForm" (ngSubmit)="onSubmitInsert('form_add_card')" class="form_addcard"
      *ngIf="isVisibleAddCard">
      <div class="add-card-container">

        <div class="add-card-inputs">
          <label for="front"></label>
          <input type="text" id="front" name="front" placeholder="Enter front side here..." required minlength="3"
            ngModel>
          <br>
          <label for="back"></label>
          <input type="text" id="back" name="back" placeholder="Enter back side here..." required minlength="3" ngModel>
        </div>

        <div class="add-card-select">
          <label for="collection_id"></label>
          <select *ngIf="uniqueObjects" name="collection_id" required ngModel>
            <option value="" disabled selected>Select collection</option>
            <option *ngFor="let item of uniqueObjects" value="{{ item.id }}">
              {{ item.name }} </option>
          </select>
        </div>

        <div class="add-card-radio">
          <label for="ispublic">Make it public?</label><br>
          <input type="radio" name="is_public" value="1" class="input-radio" required ngModel><span>Yes</span>
          <input type="radio" name="is_public" value="0" class="input-radio" required ngModel><span>No</span>

        </div>


        <div class="add-card-button">
          <button type="submit" id="submit_form_card" [disabled]="!form_add_card.valid">Submit</button>
        </div>

      </div>
    </form>

  </div>

  <div class="ac-right">
    <span *ngIf="isVisibleAddCard">ADD CARD</span>
    <span *ngIf="isVisibleAddCollection">ADD COLLECTION</span>
  </div>

</div>

<section class="analytics-dashboard">

  <br>
  <form #form_analytics_dashboard="ngForm" class="form_analytics_dashboard" (ngSubmit)="analyticsDashboard(0)">
    <select *ngIf="uniqueObjects" name="collection_id" required ngModel>
      <option value="" disabled selected>Select collection</option>
      <option *ngFor="let item of uniqueObjects" value="{{ item.id }}">
        {{ item.name }} </option>
    </select>
    <button type="submit" id="submit_analytics" [disabled]="!form_analytics_dashboard.valid">Go!</button>
  </form>

</section>


<main class="account">

  <section class="account-all-cards">

    <div class="account-all-title">
      <span (click)="toggleVisibility('cards')" style="font-size: 2vh; cursor: pointer;">⬍ CARDS</span>
      <button class="switchSide" (click)="toggleVisibility('switchSide')">↻ SWITCH SIDE</button>
    </div>

    <div class="all" *ngIf="isVisibleCards">
      <span>{{ noItemsMsg }}</span>
      <div class="item-wrapper" *ngFor="let item of fetchedData">

        <div class="item-name">

          <a routerLink="/card/{{ item.card_id}}" *ngIf="isVisibleSide"> {{ item.front }}</a>
          <a routerLink="/card/{{ item.card_id}}" *ngIf="!isVisibleSide"> {{ item.back }}</a>
        </div>

        <div class="item-actions">
          <div class="account-dropdown">
            <button class="account-dropbutton">⋮</button>
            <div class="account-dropdown-content">
              <a routerLink="/account#" (click)="editItem('card', item.card_id)">edit</a>
              <a routerLink="/account#" (click)="removeItem('card', item.card_id)">delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
  <section class="account-all-collections">
    <div class="account-all-title" (click)="toggleVisibility('collections')"><span
        style="font-size: 2vh; cursor: pointer;">⬍
        COLLECTIONS</span></div>

    <div class="all" *ngIf="isVisibleCollections">
      <span>{{ noItemsMsg }}</span>
      <div class="item-wrapper" *ngFor="let item of uniqueObjects">

        <div class="item-name">
          <a routerLink="/collections/{{ item.id }}"> {{ item.name }}</a>
        </div>

        <div class="item-actions">
          <div class="account-dropdown">
            <button class="account-dropbutton">⋮</button>
            <div class="account-dropdown-content">
              <a routerLink="/account#" (click)="editItem('collection', item.id)">edit</a>
              <a routerLink="/account#" (click)="removeItem('collection', item.id)">delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
  <section class="account-all-migrations">
    <div class="account-all-title" (click)="toggleVisibility('migrations')"><span
        style="font-size: 2vh; cursor: pointer;">⬍ MIGRATIONS</span></div>

    <div class="all" *ngIf="isVisibleMigrations">
      <span *ngIf="!migrationObjects">You don't have any migrations yet.</span>
      <div class="item-wrapper" *ngFor="let item of migrationObjects">

        <div class="item-name">
          <span>Migration #{{ item }}</span>
        </div>

        <div class="item-actions">
          <div class="account-dropdown">
            <button class="account-dropbutton">⋮</button>
            <div class="account-dropdown-content">
              <a routerLink="/account#" (click)="removeItem('migration', migrationItem)">delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</main>

<div style="float: right; margin-top: 3vh;">
  <a routerLink="/account#" (click)="removeItem('user', 1)" class="delete-button">DELETE ACCOUNT</a>
</div>
<div style="height: 65px; width: 100%;">
  &nbsp;
</div>