<div class="signup-container">
  <div class="signup">
    <div style="grid-area: left">
      <a routerLink="/"><img src="./assets/logo.png" class="logo"></a>
    </div>
    <div style="grid-area: right; justify-self: end; align-self: center; font-size: 3vh; font-weight: bold;">REGISTER
    </div>

    <form #form_register="ngForm" (ngSubmit)="onSubmit()" class="form_signup">

      <div>
        <label for="username"></label>
        <input type="text" id="username" name="username" ngModel required minlength="3" placeholder="Enter username.">
      </div>
      <div>
        <label for="password"></label>
        <input type="password" id="password" name="password" ngModel required minlength="3"
          placeholder="Enter password." [pattern]="passwordRegex"
          (keyup)="form_register.value.password.length >= 1 && showValidations = true"
          (focusout)="showValidations = false" (keyup)="passwordCheck()">
        <br><br>
        <span class="signup_text">Already have an account? <a routerLink="/login">Login</a> now.</span><br><br>
        <span class="register_validation" *ngIf="showValidations">Password must contain:</span>
        <div class="register_validation" *ngIf="showValidations">
          <br><br>
          <span class="register_validation" [style.color]="rvColorL">At least one lowercase</span><br>
          <span class="register_validation" [style.color]="rvColorU">At least one uppercase</span><br>
          <span class="register_validation" [style.color]="rvColorN">At least one number</span><br>
          <span class="register_validation" [style.color]="rvColorS">At least one symbol</span><br>
          <span class="register_validation" [style.color]="rvColor8">Minimum 8 characters</span>
        </div>
      </div>
      <div>
        <button type="submit" id="submit" [disabled]="!form_register.valid">Submit</button>
      </div>
    </form>

    <div class="signup-text" *ngIf="displayResponse" [style.background-color]="buttonColor">
      {{ displayResponse }}
    </div>
  </div>
</div>